:root {
	color-scheme: dark;
	--backgroundDarkGray: rgb(31, 33, 37);
	--BGDarkBlue: rgb(16, 65, 122);
}

* {
	padding: 0;
	margin: 0;
}

html {
	background: rgb(38, 39, 51);
	background: linear-gradient(
		74deg,
		rgba(38, 39, 51, 1) 0%,
		rgba(46, 53, 78, 1) 60%,
		rgba(56, 70, 111, 1) 100%
	);
	background-attachment: fixed;
	background-size: cover;
	color: rgb(255, 255, 255);
}

.hide {
	display: none;
}

textarea:hover {
	cursor: default;
}

.brand {
	text-align: center;
	padding-bottom: 15px;
}

/* ========================= Smartphone Size ========================= */
@media only screen and (min-width: 1px) and (max-width: 390px) {
	body {
		display: flex;
		flex-direction: column;
		height: 100vh;
	}

	.mainCard {
		display: flex;
		flex-direction: column;
		height: max-content;
		justify-content: space-between;
		gap: 15px;
	}

	.mainLeftSide {
		display: flex;
		flex-direction: column;
		float: left;
		padding: 15px;
		margin: 0 15px;
		border: 1px solid rgba(0, 0, 0, 0.25);
		border-radius: 15px;
		background-color: rgba(52, 56, 59, 0.5);
	}

	.mainLeftSide > h1 {
		text-align: center;
		margin-bottom: 15px;
	}

	.mainRightSide {
		display: flex;
		flex-direction: column;
		float: right;
		padding: 15px;
		margin: 0 15px;
		margin-bottom: 15px;
		border: 1px solid rgba(0, 0, 0, 0.25);
		border-radius: 15px;
		background-color: rgba(52, 56, 59, 0.5);
	}

	.leftSideButtons {
		display: flex;
		flex-direction: column;
	}

	.warningDiv {
		display: flex;
		flex-direction: row;
		gap: 5px;
		align-items: center;
		margin: 15px 0;
		padding-left: 5px;
	}

	.resultCard {
		padding: 20px 20px 20px 20px;
		/*padding: arriba. derecha, abajo., izquierda*/
		/*margin: arriba. derecha, abajo., izquierda*/
		border: 1px solid rgba(0, 0, 0, 0.25);
		border-radius: 15px;
		/*border-radius: sup-izq, sup-der, inf-der, inf-izq*/
		background-color: var(--BGDarkBlue);
		text-shadow: 0 0 15px white;
		box-shadow: 0px 0px 15px rgba(0, 89, 206, 0.75);
	}

	.resultCard > img {
		width: 100%;
	}

	.resultContent {
		text-shadow: 0 0 15px white;
		text-align: center;
		overflow: auto;
		height: 170px;
		font-family: "Inter";
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 150%;

		flex: none;
		order: 0;
		flex-grow: 0;
	}

	.noMensaje {
		text-align: center;

		font-family: "Inter";
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 120%;
	}

	.noMensajeConsejo {
		text-align: center;

		font-family: "Inter";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
	}

	.inputUsuario {
		display: block;

		font-family: "Inter";
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 150%;

		color: #4584e2;
		background-color: rgb(52, 56, 59);
		border: none;
		outline: none;
		border-radius: 6px;
		resize: none;
	}

	textarea::placeholder {
		color: rgba(53, 119, 218, 0.75);
		text-shadow: 0 0 15px rgb(107, 171, 255);
		font-size: 32px;
		font-family: "Inter";
		font-weight: 400;
		line-height: 150%;
		font-style: normal;
	}

	.lowercaseWarning {
		font-family: "Inter";
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 150%;
	}

	button {
		font-family: "Inter";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		/*padding: 10px 40px;
		/*padding:;
		vertical.horizontal*/
		padding: 5px;
		border: 1px solid rgba(0, 0, 0, 0.5);
		border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		-ms-border-radius: 6px;
		-o-border-radius: 6px;
	}

	button:hover {
		box-shadow: 0 0 15px rgba(173, 173, 173, 0.75);
	}

	.botonEncriptar {
		color: #ffffff;
		background-color: #0a3871;
	}

	.botonDesencriptar {
		color: #ffffff;
		background-color: rgb(83, 83, 83);
		margin-top: 10px;
	}

	.botonCopiar {
		color: #ffffff;
		background-color: #013473;
		width: 100%;
	}
}

/* ======================== Little Tablet Size ======================== */
@media only screen and (min-width: 391px) and (max-width: 768px) {
	.brand {
		text-align: center;
		padding-bottom: 15px;
		width: 80%;
		margin: auto;
	}

	body {
		display: flex;
		flex-direction: column;
		height: 100vh;
	}

	.mainCard {
		display: flex;
		flex-direction: column;
		height: max-content;
		gap: 15px;
		width: 390px;
		margin: auto;
	}

	.mainLeftSide {
		display: flex;
		flex-direction: column;
		float: left;
		padding: 15px;
		margin: 0 15px;
		border: 1px solid rgba(0, 0, 0, 0.25);
		border-radius: 15px;
		background-color: rgba(52, 56, 59, 0.5);
	}

	.mainLeftSide > h1 {
		text-align: center;
		margin-bottom: 15px;
	}

	.mainRightSide {
		display: flex;
		flex-direction: column;
		float: right;
		padding: 15px;
		margin: 0 15px;
		margin-bottom: 15px;
		border: 1px solid rgba(0, 0, 0, 0.25);
		border-radius: 15px;
		background-color: rgba(52, 56, 59, 0.5);
	}

	.leftSideButtons {
		display: flex;
		flex-direction: column;
	}

	.warningDiv {
		display: flex;
		flex-direction: row;
		gap: 5px;
		align-items: center;
		margin: 15px 0;
		padding-left: 5px;
	}

	.resultCard {
		padding: 20px 20px 20px 20px;
		/*padding: arriba. derecha, abajo., izquierda*/
		/*margin: arriba. derecha, abajo., izquierda*/
		border: 1px solid rgba(0, 0, 0, 0.25);
		border-radius: 15px;
		/*border-radius: sup-izq, sup-der, inf-der, inf-izq*/
		background-color: var(--BGDarkBlue);
		text-shadow: 0 0 15px white;
		box-shadow: 0px 0px 15px rgba(0, 89, 206, 0.75);
	}

	.resultCard > img {
		width: 100%;
	}

	.resultContent {
		text-shadow: 0 0 15px white;
		text-align: center;
		overflow: auto;
		height: 170px;
		font-family: "Inter";
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 150%;

		flex: none;
		order: 0;
		flex-grow: 0;
	}

	.noMensaje {
		text-align: center;

		font-family: "Inter";
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 120%;
	}

	.noMensajeConsejo {
		text-align: center;

		font-family: "Inter";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
	}

	.inputUsuario {
		display: block;

		font-family: "Inter";
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 150%;

		color: #4584e2;
		background-color: rgb(52, 56, 59);
		border: none;
		outline: none;
		border-radius: 6px;
		resize: none;
		width: 328px;
	}

	textarea::placeholder {
		color: rgba(53, 119, 218, 0.75);
		text-shadow: 0 0 15px rgb(107, 171, 255);
		font-size: 32px;
		font-family: "Inter";
		font-weight: 400;
		line-height: 150%;
		font-style: normal;
	}

	.lowercaseWarning {
		font-family: "Inter";
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 150%;
	}

	button {
		font-family: "Inter";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		/*padding: 10px 40px;
		/*padding:;
		vertical.horizontal*/
		padding: 5px;
		border: 1px solid rgba(0, 0, 0, 0.5);
		border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		-ms-border-radius: 6px;
		-o-border-radius: 6px;
	}

	button:hover {
		box-shadow: 0 0 15px rgba(173, 173, 173, 0.75);
	}

	.botonEncriptar {
		color: #ffffff;
		background-color: #0a3871;
	}

	.botonDesencriptar {
		color: #ffffff;
		background-color: rgb(83, 83, 83);
		margin-top: 10px;
	}

	.botonCopiar {
		color: #ffffff;
		background-color: #013473;
		width: 100%;
	}
}

/* ================ Big Tablet / low res Desktop Size ================= */
@media only screen and (min-width: 769px) {
	.brand {
		text-align: center;
		padding-bottom: 15px;
	}

	body {
		height: 100vh;
	}

	.mainCard {
		display: flex;
		flex-direction: row;
		height: max-content;
		gap: 15px;
		box-sizing: content-box;
		justify-content: center;
	}

	.mainLeftSide {
		display: flex;
		flex-direction: column;
		float: left;
		padding: 15px;
		margin: 0 15px;
		border: 1px solid rgba(0, 0, 0, 0.25);
		border-radius: 15px;
		background-color: rgba(52, 56, 59, 0.5);
		max-height: 80vh;
	}

	.mainLeftSide > h1 {
		text-align: center;
		margin-bottom: 15px;
	}

	.mainRightSide {
		display: flex;
		flex-direction: column;
		float: right;
		padding: 15px;
		margin: 0 15px;
		margin-bottom: 15px;
		border: 1px solid rgba(0, 0, 0, 0.25);
		border-radius: 15px;
		background-color: rgba(52, 56, 59, 0.5);
		min-width: 328px;
	}

	.leftSideButtons {
		display: flex;
		flex-direction: column;
	}

	.warningDiv {
		display: flex;
		flex-direction: row;
		gap: 5px;
		align-items: center;
		margin: 15px 0;
		padding-left: 5px;
	}

	.resultCard {
		padding: 20px 20px 20px 20px;
		/*padding: arriba. derecha, abajo., izquierda*/
		/*margin: arriba. derecha, abajo., izquierda*/
		border: 1px solid rgba(0, 0, 0, 0.25);
		border-radius: 15px;
		/*border-radius: sup-izq, sup-der, inf-der, inf-izq*/
		background-color: var(--BGDarkBlue);
		text-shadow: 0 0 15px white;
		box-shadow: 0px 0px 15px rgba(0, 89, 206, 0.75);
	}

	.resultCard > img {
		width: 75%;
	}

	.resultContent {
		text-shadow: 0 0 15px white;
		text-align: center;
		overflow: auto;
		height: 170px;
		font-family: "Inter";
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 150%;

	}

	.noMensaje {
		text-align: center;

		font-family: "Inter";
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 120%;
	}

	.noMensajeConsejo {
		text-align: center;

		font-family: "Inter";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
	}

	.inputUsuario {
		display: block;

		font-family: "Inter";
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 150%;

		color: #4584e2;
		background-color: rgb(52, 56, 59);
		border: none;
		outline: none;
		border-radius: 6px;
		resize: none;
		
	}

	textarea::placeholder {
		color: rgba(53, 119, 218, 0.75);
		text-shadow: 0 0 15px rgb(107, 171, 255);
		font-size: 32px;
		font-family: "Inter";
		font-weight: 400;
		line-height: 150%;
		font-style: normal;
	}

	.lowercaseWarning {
		font-family: "Inter";
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 150%;
	}

	button {
		font-family: "Inter";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		/*padding: 10px 40px;
			/*padding:;
			vertical.horizontal*/
		padding: 5px;
		border: 1px solid rgba(0, 0, 0, 0.5);
		border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		-ms-border-radius: 6px;
		-o-border-radius: 6px;
	}

	button:hover {
		box-shadow: 0 0 15px rgba(173, 173, 173, 0.75);
	}

	.botonEncriptar {
		color: #ffffff;
		background-color: #0a3871;
	}

	.botonDesencriptar {
		color: #ffffff;
		background-color: rgb(83, 83, 83);
		margin-top: 10px;
	}

	.botonCopiar {
		color: #ffffff;
		background-color: #013473;
		width: 100%;
	}
}
